/* App.css */

/* Body styles */

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #24272C;
    background-color: #ffffff;
    margin: 0;
  
  }
  .my1-4 {
    /* margin-bottom: 1.5rem !important; */
    margin-top: 1.5rem !important;
  }
  
  /* Container styles */
  .container {
    margin: 0 auto 0;
    max-width: 80%;
  }
  
  /* Tabs styles */
  .nav-tabs .nav-link {
    text-align: center;
    color: #24272C; /* Default color */
    background-color: #3DB166; /* Initial background color */
    border: none;
    border-radius: 6px 6px 0 0;
  }
  
  .nav-tabs .nav-link.active {
    color: #3DB166 !important; /* Active tab color */
    background-color: #F2F2F2 !important; /* Active tab background */
    border-color: #3DB166;
  }
  
  .nav-tabs .nav-link:hover {
    color: #192F59; /* Hover color */
    background-color: #3DB166; /* Hover background */
  }
  
  /* Section styles */
  .section {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  h6{
    color: #6c757d;
  }
  /* Button styles */
  .btn-primary {
    background-color: #3DB166;
    color: #FFFFFF;
    border: 1px solid #3DB166;
    border-radius: 6px;
    padding: 10px 20px;
  }
  
  .btn-primary:hover {
    background-color: #192F59;
    border-color: #192F59;
  }
  
  /* Link styles */
  a {
    color: #3DB166;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Form styles */
  .form-control {
    border-color: #CED4DA;
    border-radius: 6px;
    line-height: 2.5;
    margin-bottom: 1rem !important;
  }
  h4{
    line-height: inherit;
  }
  
  .form-control:focus {
    border-color: #3DB166;
    box-shadow: 0 0 0 0.2rem rgba(61, 177, 102, 0.25);
  }
  
  /* Image styles */
  .img-fluid.small-img {
    max-width: 60px;  /* Adjust as needed */
    height: 70px; /* Set height to match the text height */
    object-fit: cover; /* Ensure images cover the entire area */
    border-radius: 6px; /* Optional: Add rounded corners */
  }
  
  .contact-info {
    background-color: #ffffff;
    border: 1px solid #e0e0e0; /* Grey border */
    border-radius: 10px;
    padding: 30px;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: left;
    padding: 20px;
    flex-wrap: wrap;
  }
  
  .contact-item:not(:last-child) {
    border-right: 1px solid #e0e0e0; /* Grey partition line */
  }
  
  .icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #e0f7ea;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .contact-icon {
    font-size: 2em;
    color: #3DB166; /* Change the icon color here */
  }
  
  .contact-text {
    text-align: left;
  }
  
  h5 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  p {
    margin: 0;
    color: #6c757d;
  }
  .custom-tabs {
    .nav-tabs {
      border-bottom: none;
    }
  
    .nav-link {
      border: none;
      border-radius: 0;
    }
  
    .nav-link.active {
      border: none;
    }
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 33%;
  }
  .nav-tabs {
    --bs-nav-tabs-border-width: var(--bs-border-width);
    --bs-nav-tabs-border-color: #f8f9fa;
    --bs-nav-tabs-border-radius: var(--bs-border-radius);
    --bs-nav-tabs-link-hover-border-color: var(--bs-secondary-bg) var(--bs-secondary-bg) var(--bs-border-color);
    --bs-nav-tabs-link-active-color: var(--bs-emphasis-color);
    --bs-nav-tabs-link-active-bg: var(--bs-body-bg);
    --bs-nav-tabs-link-active-border-color: var(--bs-border-color) var(--bs-border-color) var(--bs-body-bg);
    border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
  }
  .nav {
    --bs-nav-link-padding-x: 1.5rem;
    --bs-nav-link-padding-y: 1rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: var(--bs-secondary-color);
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .contact-section h3 {
    font-size: 24px;
    font-weight: bold;
    color: #24272C;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 50%;
  }
  .custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: white url('data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"%3E%3Cpath fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/%3E%3C/svg%3E') no-repeat right 10px center;
    background-size: 10px 10px;
    padding: 10px;
    padding-right: 30px; /* Space for the arrow */
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
    color: #495057;
  }
  
  .custom-select:focus {
    border-color: #3DB166;
    box-shadow: 0 0 0 0.2rem rgba(61, 177, 102, 0.25);
  }
  
  
  .bg-light {
    --bs-bg-opacity: 1;
    background-color: rgb(224 224 224) !important;  
  }
  .p-4{
    padding: 4rem!important;
  }
  h6{
    line-height: 1.7;
  }
  .custom-tabs {
    display: flex;
    justify-content: center;
  }
  
  .custom-tab1 .nav {
    display: flex;
    max-width: 80%; /* Limit the maximum width of the navigation */
  }
  
  
  .custom-tab1 .nav-link {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 150px; /* Set a fixed minimum width */
    min-height: 50px; /* Set a fixed minimum height */
    box-sizing: border-box;
  }
  
  
  @media (max-width: 768px) { /* Extra small devices (phones, 576px and down) */
    .container {
      max-width: 85%;
    }
    .col-md-5 {
      flex: 0 0 auto;
      width: auto;
  }
  .p-4 {
    padding: 1rem !important;
  }
    .contact-item {
      text-align: center; /* Center align for small screens */
      flex-wrap: nowrap;
      
    }
   
   
  .custom-tab1 .nav-item {
    flex: 1 1; 
    display: flex;
  }
  
    .icon-circle {
      margin-bottom: 0; /* No margin between icon and text */
    }
  
    .contact-text {
      text-align: center; /* Center align text */
    }
  
    .contact-item .icon-circle {
      margin-bottom: 10px; /* Space between icon and text */
    }
    .contact-item:not(:last-child) {
      border-right: 1px solid #ffffff; /* Grey partition line */
    }
    .ms-3{
      margin-left: auto;
    }
    
  
    .col-6 {
      /* flex: 0 0 auto; */
      width: 100%;
  }
  
  }
  @media (max-width: 370px){
    .contact-item{
    flex-direction: column;
    }
  } 
  @media (max-width: 850px) {
    .col-md-4 {
        flex: 0 0 auto;
        width: 100%;
    }
    .contact-item:not(:last-child) {
      border-right: 1px solid #ffffff; /* Grey partition line */
    }
  }
  @media (max-width:475px){
    .container{
      max-width: 85%;
    }
  }
  