/* Import Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Main content CSS */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #F2F2F2;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  box-sizing: border-box;
}

h1 {
  color: #383a3d;
  margin-bottom: 20px;
}

p {
  color: #24272C;
  font-size: 16px;
  text-align: justify; /* Justify text */
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

.content {
  font-family: 'Poppins', sans-serif;
  padding: 0px;
  width: 80%;
  margin: 0 auto;
  background: #F2F2F2;
  background-size: cover;
  padding :10px;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 28px;
  }
  
  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;
  }
  
  .content {
    padding: 15px;
    width: 90%; /* Adjust width for smaller screens */
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
  
  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }
  
  p {
    font-size: 14px;
  }

  .content {
    padding: 15px;
    width: 90%; /* Adjust width for smaller screens */
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 20px;
  }
  
  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 14px;
  }
  
  p {
    font-size: 12px;
  }

  .content {
    padding: 10px;
    width: 80%; /* Adjust width for smaller screens */
  }
}